{% extends "layout.html" %}

{% block nav %}
    <ul class="navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('user_login') }}">Login</a>
            <a class="nav-link" href="{{ url_for('user_registration') }}">Register</a>
        {% endif %}
    </ul>
{% endblock nav %}

{% block content %}
    <div class="jumbotron">
        <div class="container1">
            {# <h1 class="display-5">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>#}
            <div class="floatLeft">
                <table style="width:100%" class="table-bordered table-dark table-hover">
                    <tr>
                        <th>Categories</th>
                    </tr>
                    {% for categories in categorie %}
                        <tr class="table-row clickable-row" data-href='{{ categories.category_name }}'>
                            <td>{{ categories.category_name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="floatRight">
                <table style="width:100%" class='table table-dark table-hover'
                       style="display: inline-block">
                    <tr>
                        <th>Items</th>
                    </tr>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.name }}
                                {% for categories in categorie %}
                                    {% if item.cat_id == categories.category_id %}
                                        {{ '('+ categories.category_name +')' }}
                                    {% endif %}
                                {% endfor %}
                                <a class="btn btn-primary a-btn-slide-text view_clickable"
                                   data-href='{{ item.description }}'>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    <span><strong>View</strong></span>
                                </a>
                                {% if current_user.is_authenticated %}
                                    {% if item.user_id == current_user.id %}
                                        <a class="btn btn-primary a-btn-slide-text view_delete"
                                           data-href='{{ item.name }}'>
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            <span><strong>Delete</strong></span>
                                        </a>
                                        <a class="btn btn-primary a-btn-slide-text view_edit"
                                           data-href='{{ item.name }}'>
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            <span><strong>Edit</strong></span> </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(".view_delete").click(function () {
            const data = $(this).data("href");
            callConfirm(b1checkConfirm.bind({data: data}));
        });

        function callConfirm(cb) {
            bootbox.confirm({
                message: "Are You sure you want to delete",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }

                },
                callback: cb
            });

        }

        function b1checkConfirm(result) {
            if (result) {
                $.post('', {name: this.data})
                location.reload();

            }

        }

        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = '/home/' + ($(this).data("href")) + '/items';

            });
        });
        jQuery(document).ready(function ($) {
            $(".view_edit").click(function () {
                window.location = '/home/' + ($(this).data("href")) + '/edit';

            });
        });
        jQuery(document).ready(function ($) {
            $(".view_clickable").click(function () {
                bootbox.alert({
                    message: ($(this).data("href")),
                    size: 'large'
                });

            });
        });
    </script>
{% endblock content %}
